@page "/"
@inject HttpClient Http
@using Services;
@inject GraphQlService graphqlService

<PageTitle>Index</PageTitle>

<h1>Hello, customer!</h1>

Welcome to your bank app.


@code {
    protected override async Task OnInitializedAsync()
    {
        var builder = new GraphQlRequestBuilder();
        builder.LoadFiles();
        this.graphqlService.Builder = builder;
        await base.OnInitializedAsync();
        return;
    }

}
