<div class="controls">
    <label>Login with username: </label>
    <input id="username">
    <button id="login">Login</button>
    <label id="loginResult"></label>
  </div>

  <div class="controls">Create payment:</div>
  
  <div class="controls">
    <label>Recipient</label>
    <input id="recipient">
  </div>
  <div class="controls">
    <label>Amount: </label>
    <input id="amount">
  </div>

  <div class="controls">
    <button id="sendPayment">Create payment</button>
  </div>
  <div class="controls">
    <label id="error"></label>
  </div>

  <div class="grid-container">

    <div>Payments:</div>
    <div>Transactions:</div>

    <div class="grid-item">
      <ul id="payments"></ul> 
    </div>
    <div class="grid-item">
      <ul id="transactions">
      </ul> 
    </div>

  </div>